/pgadmin_data

/postgres_data

/redis_cache

/rabbitmq_data

.vs

.env
/Backend/ORM_Components/Migrations/20250306002004_AddedEmailField.cs
/Backend/ORM_Components/Migrations/20250306002004_AddedEmailField.Designer.cs
