/pgadmin_data

/postgres_data

/redis_cache

/rabbitmq_data

.vs

.env
/Backend/ORM_Components/Migrations/20250401140948_ChangedReviewsTable.cs
/Backend/ORM_Components/Migrations/20250401140948_ChangedReviewsTable.Designer.cs
/Backend/ClientAPI/Program.cs
/Backend/ORM_Components/Migrations/20250401143209_InitialMigration.cs
/Backend/ORM_Components/Migrations/20250401143209_InitialMigration.Designer.cs
/Backend/ORM_Components/Migrations/DataContextModelSnapshot.cs
